body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
}
h1{
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    color: white;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 5px;
}
.heading-div{
    text-align: center;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    
}
.heading-text{
 color: white;
 padding-top: 40px;
}
.heading-text p{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}
.heading-section{
    margin-bottom: 30px;
}
.to-donate{
    text-align: center;
}

.donate-pricing .donate-fixed{ 
    background-color: rgb(196, 139, 112);
    border: 1px solid red;

}
.donate-pricing p{
    padding: 20px;
    background-color: rgb(185, 179, 179);   
    margin-right: 15px;
}
.donate-pricing{
    display: flex;
    justify-content: center;

}
.other-amount{
    text-align: center;
}
.other-amount p{
    color: gray;
    margin-bottom: 8px;
}
.other-amount hr{
    margin: 20px 80px;
}
.plan-text{
    text-align: center;
    margin-bottom: 10px;
}
.info{
    padding: 25px;
    margin: 10px;
    border-radius: 6px;

}
.info1{
    background-color: bisque;
}
.info2{
    background-color: pink;
}
.info3{
    background-color: aquamarine;
}
.donate-info{
    display: flex;
}
.help-poor{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-bottom: 60px;
}
.helppoor-img img{
    width: 350px;
    margin-top: 30px;
   
}
.helppoor-text{
    width: 400px;  
    margin-right: 50px;  
}
.helppoor-text a{
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 7px;
}
.help-poor2{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.img2 img{
    margin-top: 30px;
    margin-right: 40px;
}
.get-myupdates{
    text-align: center;
}
.get-myupdates p{
    width: 60%;
    margin: auto;
}
.myupdate-text{
    margin-bottom: 30px;
}
.update-email{
    padding: 80px;
    background-color: bisque;
    margin: 85px;
}
.update-email input{
    border: none;
    padding: 8px;
}
.update-email button{
    border: none;
    background-color: brown;
    color: white;
    padding: 8px;
}
footer{
    margin-top: 20px;
    background-color: black;
    padding: 20px;
    text-align: center;
}
footer h2{
   color: brown;
}
footer p{
    color: white;
}
